<section class="px-5 py-5">
    <a class="px-5" href="/">Return to Home</a>
    <h1 class="text-center">Uh oh. There's been an error.</h1>
    <p class="text-center">We couldn't find what you were looking for. Sorry about that.</p>
</section>