<div id="ingredient-page">
    <a href="javascript:history.back()">Go Back</a>
    <section id="ingredient-profile">
        <h1>{{name}}</h1>
        <h3>Category: {{category}}</h3>
        <p>{{description}}</p>
        <p>Recipes that use {{name}} if i have time</p>
    </section>
</div>