<!DOCTYPE html>
    <head>
        <title>Hatch</title>
    </head>
    <body>
        <div id="container">
            <header>

            </header>
            <nav>
            <ul>
                <li><a href="/">All recipes</a></li>
            </ul>
            </nav>
        </div>
                <div id="layout-body-container">
                {{{body}}}
            </div>
    </body>
</html>