<!DOCTYPE html>
    <head>
        <title>Hatch</title>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    <body>
        <script>
            AOS.init();
        </script>
        <div id="container">
            <header>

            </header>
            <nav>
            <ul>
                <li><a href="/">Hatch</a></li>
            </ul>
            </nav>
        </div>
                <div id="layout-body-container">
                {{{body}}}
            </div>
    </body>
</html>